{% extends 'layouts/main.html' %}
{% block title %}Complete{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Users around me</h1>
</div>
<body>
<img src=" {{url_for('static', filename='temp1.jpg')}}">
<img src=" {{url_for('static', filename='temp2.jpg')}}">
<img src=" {{url_for('static', filename='temp3.jpg')}}">
<img src=" {{url_for('static', filename='temp4.jpg')}}">
<img src=" {{url_for('static', filename='temp5.jpg')}}">
<img src=" {{url_for('static', filename='temp6.jpg')}}">
<img src=" {{url_for('static', filename='temp7.jpg')}}">
<img src=" {{url_for('static', filename='temp8.jpg')}}">
<img src=" {{url_for('static', filename='temp9.jpg')}}">
<img src=" {{url_for('static', filename='temp10.jpg')}}">
<img src=" {{url_for('static', filename='temp11.jpg')}}">
<img src=" {{url_for('static', filename='temp12.jpg')}}">
<img src=" {{url_for('static', filename='temp13.jpg')}}">
<img src=" {{url_for('static', filename='temp14.jpg')}}">
<img src=" {{url_for('static', filename='temp15.jpg')}}">
</body>

{% endblock %}
